# required for freebsd and testing
netifaces

# For testing
coverage
flake8; python_version >= '2.7'
funcsigs; python_version >= '2.7'

#Specific python 2.6 requirements
unittest2; python_version < '2.7'
pyflakes; python_version < '2.7'
