[Unit]
Description=Nova Agent for xenstore
Before=network.target

[Service]
Type=forking
ExecStart=/usr/bin/nova-agent -o /var/log/nova-agent.log -l info

[Install]
WantedBy=basic.target
