[Unit]
Description=Nova Agent for xenstore
Before=network-pre.target
After=cloud-init-local.service

[Service]
Type=forking
ExecStart=/usr/bin/nova-agent -o /var/log/nova-agent.log -l info

[Install]
WantedBy=multi-user.target
