#!/usr/bin/make -f

export DESTDIR=debian/nova-agent/
export PYBUILD_DESTDIR_python2=$DESTDIR

%:
	dh $@ --with python2 --buildsystem=pybuild
	install -Dm644 etc/nova-agent.service $DESTDIR/lib/systemd/system/nova-agent.service
